button,
.button {
  border: 1px solid var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-blue) 50%,
    var(--color-white) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  color: var(--color-blue);
  padding: 0.75rem 1rem;
  cursor: pointer;
  line-height: 0;
}

button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
  background-position: left bottom;
  color: var(--color-white);
  transition:
    background-position 0.2s ease-out,
    color 0.2s ease;
}

button:hover::before,
button::before:focus-visible,
.button::before:hover,
.button::before:focus-visible {
  transform: scaleX(1);
}

.button__double-caret::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.625rem;
  background-image: url("../assets/svg/caret-double.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 2rem;
}

.button__double-caret:hover::after,
.button__double-caret:focus-visible::after {
  filter: brightness(0) invert(1);
}
