:root {
  --color-blue: #0000ff;
  --color-white: #ffffff;

  --spacing-space-xs: 0.5rem;
  --spacing-space-sm: 0.75rem;
  --spacing-space-md: 1rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-xl: 2rem;
  --spacing-space-xxl: 3rem;
  --spacing-hero-padding-bottom: 2.75rem;
  --spacing-grid-margin: var(--spacing-space-lg);

  --typography-type-body: normal 1rem/1.5rem "PxGrotesk", sans-serif;
  --typography-type-headline: normal 3rem/90% "PxGrotesk", sans-serif;
  --typography-type-headline-screen:
    normal 3rem/90% "PxGroteskScreen", sans-serif;
  --typography-type-large: normal 1.375rem/2rem "PxGrotesk", sans-serif;
  --typography-letter-spacing: -4%;
}

@media screen and (min-width: 900px) {
  :root {
    --spacing-space-xs: 0.5rem;
    --spacing-space-sm: 1rem;
    --spacing-space-md: 2rem;
    --spacing-space-lg: 3rem;
    --spacing-space-xl: 4rem;
    --spacing-space-xxl: 5rem;
    --spacing-hero-padding-bottom: 4rem;
    --spacing-grid-margin: var(--spacing-space-xxl);

    --typography-type-body: normal 1.125rem/1.5rem "PxGrotesk", sans-serif;
    --typography-type-headline: normal 7.75rem/90% "PxGrotesk", sans-serif;
    --typography-type-headline-screen:
      normal 7.75rem/90% "PxGroteskScreen", sans-serif;
    --typography-type-large: normal 1.175rem/2rem "PxGrotesk", sans-serif;
  }
}
